body {
    background-color: #eaf4f6;
}

#parent { white-space: nowrap; }
.child { display: inline-block; font-size: xx-large}

img {
    border-radius: 30px;
  }

h1 {
    color: #1e3a8a;
    /* background-color: #1e3a8a; */
    /* background-image: linear-gradient(45deg, #1e3a8a, #14c7d3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
}

.navigation-item:hover {
    background-color: #1e3a8a;
    background-image: linear-gradient(45deg, #1e3a8a, #14c7d3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}